
mixin header(active)
    header.header
        a.logo(href="index.html") logo
        div.links.desktop-only
            - const rubriques = {'Accueil':'index.html',}
            each url,nom in rubriques
                a(class=`${nom == active ? "link active" : "link"}`, href= url)= nom
            a(class='EspaceEtudiant link', href= 'menu_etudiant.html')= 'Espace étudiant'
        .header-option
            #toggle_userOption
                img(class = "rounded_img click" id='user-img' )
            i(class="bi bi-list click mobile-only " id="menu" onclick="OpenMenu()")
    #userOption
        button(id='deconection' class='click') Se déconnecter
    #mobile-menu.d-none
        each url,nom in rubriques
                a(class=`${nom == active ? "link active" : "link"}`, href= url)= nom
