mixin footer(fonction)
    script(src="script/utils/utils.js") 
    script(src="script/firebase/CheckConnection.js")   
    each item in fonction
        if(item == "firebase")
            include firebase.pug
        if(item == "animation")
            include animation.pug